flows/Check_for_Inactive_Campaigns-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_task_to_list</name>
        <label>add task to list</label>
        <locationX>531</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>85</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Campaigns_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_EndDate_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Date_Equals_Start_Date</name>
        <label>End Date Equals Start Date</label>
        <locationX>333</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>One_Campaign.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>filler</name>
        <label>filler</label>
        <locationX>447</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Adventure_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_a_task</name>
        <label>make a task</label>
        <locationX>531</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>oneTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check Campaign Activity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>If this campaing is done, please uncheck Active status. As well as members status.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_task_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_inactive</name>
        <label>make_inactive</label>
        <locationX>85</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>One_Campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>One_More_Month</name>
        <label>One More Month</label>
        <locationX>105</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_overdue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Adventure_Campaign</name>
        <label>Check Adventure Campaign</label>
        <locationX>485</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Check_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not Adventure Campaign</defaultConnectorLabel>
        <rules>
            <name>Is_Adventure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One_Campaign.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012o0000000xwhOAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>futureDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_a_task</targetReference>
            </connector>
            <label>Is Adventure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_overdue</name>
        <label>Date overdue</label>
        <locationX>177</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>is_EndDate_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>change_to_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One_Campaign.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MailChimp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>futureDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_inactive</targetReference>
            </connector>
            <label>change to inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_EndDate_null</name>
        <label>is EndDate null</label>
        <locationX>188</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>filler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EndDate not null</defaultConnectorLabel>
        <rules>
            <name>EndDate_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One_Campaign.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date_Equals_Start_Date</targetReference>
            </connector>
            <label>EndDate is null</label>
        </rules>
    </decisions>
    <description>Check to see if the campaign is 30 days overdue and change the field IsActive to false</description>
    <interviewLabel>Check for Inactive Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Inactive Campaigns</label>
    <loops>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>341</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>One_Campaign</assignNextValueToReference>
        <collectionReference>camp_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>One_More_Month</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaign_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Tasks</name>
        <label>Add Tasks</label>
        <locationX>751</locationX>
        <locationY>60</locationY>
        <inputReference>taskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Active_Campaigns</name>
        <label>Find Active Campaigns</label>
        <locationX>107</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>camp_var</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Records</name>
        <label>Update Campaign Records</label>
        <locationX>575</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Add_Tasks</targetReference>
        </connector>
        <inputReference>Campaigns_to_update</inputReference>
    </recordUpdates>
    <startElementReference>Find_Active_Campaigns</startElementReference>
    <variables>
        <description>list of campaign records collected with Fast Lookup</description>
        <name>camp_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>list of campaign objects for updating</description>
        <name>Campaigns_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>a date variable</description>
        <name>futureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>campaign object to hold the iteration of the loop</description>
        <name>One_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>holds a record of object type Task</description>
        <name>oneTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>list of new tasks to be added to DB</description>
        <name>taskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
