flows/Check_for_Inactive_Campaigns-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>384</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>Campaigns_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>filler</name>
        <label>filler</label>
        <locationX>433</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>make_inactive</name>
        <label>make_inactive</label>
        <locationX>186</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>One_Campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>One_More_Month</name>
        <label>One More Month</label>
        <locationX>181</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Campaign.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_overdue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_overdue</name>
        <label>Date overdue</label>
        <locationX>184</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>filler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>change_to_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One_Campaign.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MailChimp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>futureDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>make_inactive</targetReference>
            </connector>
            <label>change to inactive</label>
        </rules>
    </decisions>
    <description>Check to see if the campaign is 30 days overdue and change the field IsActive to false</description>
    <interviewLabel>Check for Inactive Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Inactive Campaigns</label>
    <loops>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>341</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>One_Campaign</assignNextValueToReference>
        <collectionReference>camp_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>One_More_Month</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaign_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Active_Campaigns</name>
        <label>Find Active Campaigns</label>
        <locationX>107</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>camp_var</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Records</name>
        <label>Update Campaign Records</label>
        <locationX>575</locationX>
        <locationY>63</locationY>
        <inputReference>Campaigns_to_update</inputReference>
    </recordUpdates>
    <startElementReference>Find_Active_Campaigns</startElementReference>
    <variables>
        <description>list of campaign records collected with Fast Lookup</description>
        <name>camp_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>list of campaign objects for updating</description>
        <name>Campaigns_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>a date variable</description>
        <name>futureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>campaign object to hold the iteration of the loop</description>
        <name>One_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
