flows/Participant_Days-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Adventure changed to completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>no volunteer campaign</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>solo volunteer campaign</label>
        </rules>
    </decisions>
    <description>Multiply all the people in the campaign (incluiding volunteers) by the number of Activity days</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
([Campaign].Head_Count__c  + [Campaign].Related_Campaign__c.GW_Volunteers__Number_of_Volunteers__c)  *
([Campaign].EndDate - [Campaign].StartDate + 1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4101412626</name>
        <dataType>Number</dataType>
        <expression>({!myVariable_current.Head_Count__c}  + {!myVariable_current.Related_Campaign__c.GW_Volunteers__Number_of_Volunteers__c})  *
({!myVariable_current.EndDate} - {!myVariable_current.StartDate} + 1)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
[Campaign].Head_Count__c  *
([Campaign].EndDate - [Campaign].StartDate + 1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_2503940323</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Head_Count__c}  *
({!myVariable_current.EndDate} - {!myVariable_current.StartDate} + 1)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Campaign].GW_Volunteers__Number_of_Volunteers__c * ([Campaign].EndDate - [Campaign].StartDate + 1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_1529569046</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.GW_Volunteers__Number_of_Volunteers__c} * ({!myVariable_current.EndDate} - {!myVariable_current.StartDate} + 1)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        AND(
                OR(
                     OR(
                          AND([Campaign].RecordType.DeveloperName = &apos;Fundraiser&apos;,
                                  ISPICKVAL([Campaign].Type , &apos;Outreach&apos;)),
                           [Campaign].RecordType.DeveloperName = &apos;Adventure&apos;),
                     [Campaign].RecordType.DeveloperName = &apos;Benevon&apos;),
                (NOT(ISNULL([Campaign].Related_Campaign__c)))), 
       AND(
               ISCHANGED([Campaign].Status ),
               ISPICKVAL([Campaign].Status, &apos;Completed&apos;)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        AND(
                OR(
                     OR(
                          AND({!myVariable_current.RecordType.DeveloperName} = &apos;Fundraiser&apos;,
                                  ISPICKVAL({!myVariable_current.Type} , &apos;Outreach&apos;)),
                           {!myVariable_current.RecordType.DeveloperName} = &apos;Adventure&apos;),
                     {!myVariable_current.RecordType.DeveloperName} = &apos;Benevon&apos;),
                (NOT(ISNULL({!myVariable_current.Related_Campaign__c})))), 
       AND(
               ISCHANGED({!myVariable_current.Status} ),
               ISPICKVAL({!myVariable_current.Status}, &apos;Completed&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    OR(
        OR(
            AND([Campaign].RecordType.DeveloperName = &apos;Fundraiser&apos;,
                    ISPICKVAL([Campaign].Type, &apos;Outreach&apos;)),
            [Campaign].RecordType.DeveloperName = &apos;Adventure&apos;),
        [Campaign].RecordType.DeveloperName = &apos;Benevon&apos;),
    AND(  
        ISCHANGED([Campaign].Status ),
        ISPICKVAL([Campaign].Status, &apos;Completed&apos;) )) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    OR(
        OR(
            AND({!myVariable_current.RecordType.DeveloperName} = &apos;Fundraiser&apos;,
                    ISPICKVAL({!myVariable_current.Type}, &apos;Outreach&apos;)),
            {!myVariable_current.RecordType.DeveloperName} = &apos;Adventure&apos;),
        {!myVariable_current.RecordType.DeveloperName} = &apos;Benevon&apos;),
    AND(  
        ISCHANGED({!myVariable_current.Status} ),
        ISPICKVAL({!myVariable_current.Status}, &apos;Completed&apos;) ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
          AND([Campaign].RecordType.Name = &apos;Volunteers_Campaign&apos;,
                    ISNULL([Campaign].Related_Campaign__c)), 
          AND(  
                  ISCHANGED([Campaign].Status ),
                  ISPICKVAL([Campaign].Status, &apos;Completed&apos;) ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          AND({!myVariable_current.RecordType.Name} = &apos;Volunteers_Campaign&apos;,
                    ISNULL({!myVariable_current.Related_Campaign__c})), 
          AND(  
                  ISCHANGED({!myVariable_current.Status} ),
                  ISPICKVAL({!myVariable_current.Status}, &apos;Completed&apos;) ))</expression>
    </formulas>
    <interviewLabel>Participant_Days-7_InterviewLabel</interviewLabel>
    <label>Participant Days</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>tot participant days</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Participant Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Participant_Days__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4101412626</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>tot part days no vols</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Participant Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Participant_Days__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_2503940323</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>sum part days</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Participant Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Participant_Days__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_1529569046</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
