flows/sendReminderEmails-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addActivity</name>
        <label>addActivity</label>
        <locationX>366</locationX>
        <locationY>437</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>cycleParticipants</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>oneParticipant.LeadOrContactOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>oneParticipant.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>taskStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendParticipantEmail</name>
        <label>sendParticipantEmail</label>
        <locationX>192</locationX>
        <locationY>370</locationY>
        <actionName>CampaignMember.ParticipantReminderEmails</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>addActivity</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>oneParticipant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>statusValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Signed Up</stringValue>
        </value>
    </constants>
    <constants>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>areThereParticipants</name>
        <label>areThereParticipants</label>
        <locationX>248</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>noParticipants</defaultConnectorLabel>
        <rules>
            <name>yesHave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cycleParticipants</targetReference>
            </connector>
            <label>yesHave</label>
        </rules>
    </decisions>
    <description>Send a reminder email when certifications are about to expire</description>
    <formulas>
        <description>the date when the reminder is due</description>
        <name>dateForReminder</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 60</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>Email reminder for {!theAdventure.Name}</expression>
    </formulas>
    <interviewLabel>sendReminderEmails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendReminderEmails</label>
    <loops>
        <name>cycleParticipants</name>
        <label>cycleParticipants</label>
        <locationX>314</locationX>
        <locationY>265</locationY>
        <assignNextValueToReference>oneParticipant</assignNextValueToReference>
        <collectionReference>participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sendParticipantEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>campaignRecord</name>
        <label>campaignRecord</label>
        <locationX>426</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>retrieveParticipants</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adventId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>theAdventure.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theAdventure.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theAdventure.StartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>retrieveParticipants</name>
        <label>retrieveParticipants</label>
        <locationX>413</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>areThereParticipants</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adventId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusValue</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>participants</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>LeadOrContactOwnerId</queriedFields>
    </recordLookups>
    <startElementReference>campaignRecord</startElementReference>
    <variables>
        <description>id of the adventure campaign</description>
        <name>adventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oneParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>participants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>theAdventure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
