flows/sendReminderEmails-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addActivity</name>
        <label>addActivity</label>
        <locationX>592</locationX>
        <locationY>498</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>cycleParticipants</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>oneParticipant.LeadOrContactOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>adventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>taskStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>oneParticipant.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendParticipantEmail</name>
        <label>sendParticipantEmail</label>
        <locationX>420</locationX>
        <locationY>498</locationY>
        <actionName>CampaignMember.ParticipantReminderEmails</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>addActivity</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>oneParticipant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>listUpdatedParticipants</name>
        <label>listUpdatedParticipants</label>
        <locationX>249</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>updatedParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addDescriptionLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDescription</name>
        <label>setDescription</label>
        <locationX>59</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>oneParticipant.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theAdventure.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>listUpdatedParticipants</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>statusValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Signed Up</stringValue>
        </value>
    </constants>
    <constants>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>areThereParticipants</name>
        <label>areThereParticipants</label>
        <locationX>248</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>noParticipants</defaultConnectorLabel>
        <rules>
            <name>yesHave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>participants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDescriptionLoop</targetReference>
            </connector>
            <label>yesHave</label>
        </rules>
    </decisions>
    <decisions>
        <name>continueWithEmails</name>
        <label>continueWithEmails</label>
        <locationX>231</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>stopEmails</defaultConnectorLabel>
        <rules>
            <name>goAhead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_not_send_emails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>campaignRecord</targetReference>
            </connector>
            <label>goAhead</label>
        </rules>
    </decisions>
    <description>Send a reminder email when certifications are about to expire
WITH  SCREEN</description>
    <formulas>
        <description>the date when the reminder is due</description>
        <name>dateForReminder</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 60</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Email reminder for &apos; + {!theAdventure.Name}</expression>
    </formulas>
    <interviewLabel>sendReminderEmails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendReminderEmails</label>
    <loops>
        <name>addDescriptionLoop</name>
        <label>addDescriptionLoop</label>
        <locationX>179</locationX>
        <locationY>262</locationY>
        <assignNextValueToReference>oneParticipant</assignNextValueToReference>
        <collectionReference>participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDescription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParticipants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>cycleParticipants</name>
        <label>cycleParticipants</label>
        <locationX>513</locationX>
        <locationY>386</locationY>
        <assignNextValueToReference>oneParticipant</assignNextValueToReference>
        <collectionReference>updatedParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sendParticipantEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>campaignRecord</name>
        <label>campaignRecord</label>
        <locationX>426</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>retrieveParticipants</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adventId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>theAdventure.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theAdventure.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theAdventure.StartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>retrieveParticipants</name>
        <label>retrieveParticipants</label>
        <locationX>413</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>areThereParticipants</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adventId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusValue</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>participants</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>LeadOrContactOwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParticipants</name>
        <label>UpdateParticipants</label>
        <locationX>512</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>cycleParticipants</targetReference>
        </connector>
        <inputReference>updatedParticipants</inputReference>
    </recordUpdates>
    <screens>
        <name>Email_Participants_screen</name>
        <label>Email Participants that are SIGNED UP</label>
        <locationX>47</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>continueWithEmails</targetReference>
        </connector>
        <fields>
            <name>explaining</name>
            <fieldText>The reminder emails will go out only to the participants that have signed up for this adventure.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_not_send_emails</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do NOT send emails</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Email_Participants_screen</startElementReference>
    <variables>
        <description>id of the adventure campaign</description>
        <name>adventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oneParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>participants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>theAdventure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>updatedParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
