flows/UpdateParticipantTotalActivityDays-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addActivityDays</name>
        <label>addActivityDays</label>
        <locationX>576</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>theParticipant.Total_Activity_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>actDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>first_Adventure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignStatus</name>
        <label>assignStatus</label>
        <locationX>99</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>oldTextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOldStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTextStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifStatusChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_firstAdventure_to_null</name>
        <label>change firstAdventure to null</label>
        <locationX>580</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>theParticipant.FirstAdventureDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>1000-01-01</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_first_adventure_date</name>
        <label>set first adventure date</label>
        <locationX>579</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>theParticipant.FirstAdventureDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>one_memberCM.CampaignDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifStatusOldAttended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>subActivityDays</name>
        <label>subActivityDays</label>
        <locationX>576</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>theParticipant.Total_Activity_Days__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>actDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>was_first_adventure</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>first_Adventure</name>
        <label>first Adventure?</label>
        <locationX>578</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>ifStatusOldAttended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not first adventure</defaultConnectorLabel>
        <rules>
            <name>is_first_adventure</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>theParticipant.FirstAdventureDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theParticipant.FirstAdventureDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>1990-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theParticipant.FirstAdventureDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>one_memberCM.CampaignDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_first_adventure_date</targetReference>
            </connector>
            <label>is first adventure</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifStatusChanged</name>
        <label>ifStatusChanged</label>
        <locationX>100</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>statusChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>textStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldTextStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactRecord</targetReference>
            </connector>
            <label>statusChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifStatusOldAttended</name>
        <label>ifStatusOldAttended</label>
        <locationX>323</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>updateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>it was not attended</defaultConnectorLabel>
        <rules>
            <name>OldStatusAttended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldTextStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subActivityDays</targetReference>
            </connector>
            <label>OldStatusAttended</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStatusNewAttended</name>
        <label>isStatusNewAttended</label>
        <locationX>328</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>ifStatusOldAttended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>statusIsAttended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>textStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addActivityDays</targetReference>
            </connector>
            <label>statusIsAttended</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_first_adventure</name>
        <label>was first adventure</label>
        <locationX>579</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>updateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not first</defaultConnectorLabel>
        <rules>
            <name>yes_was_first_adventure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theParticipant.FirstAdventureDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>one_memberCM.CampaignDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_firstAdventure_to_null</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>It updates the Total Activity Days in the contact record when the Status of the campaign member changes.</description>
    <formulas>
        <description>get the old status value</description>
        <name>getOldStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!oldStatus},&quot;Attended&quot;),&quot;Attended&quot;,&quot;Other&quot;)</expression>
    </formulas>
    <formulas>
        <name>newTextStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!one_memberCM.Status}, &quot;Attended&quot;), &quot;Attended&quot;, &quot;Other&quot;)</expression>
    </formulas>
    <interviewLabel>UpdateTotalActivityDays {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateParticipantTotalActivityDays</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContactRecord</name>
        <label>getContactRecord</label>
        <locationX>325</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStatusNewAttended</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>one_memberCM.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>theParticipant.FirstAdventureDate__c</assignToReference>
            <field>FirstAdventureDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theParticipant.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>theParticipant.Total_Activity_Days__c</assignToReference>
            <field>Total_Activity_Days__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>320</locationX>
        <locationY>770</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theParticipant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Activity_Days__c</field>
            <value>
                <elementReference>theParticipant.Total_Activity_Days__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>assignStatus</startElementReference>
    <variables>
        <description>activity days for camaign member</description>
        <name>actDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>boolean that tells the flow if this is a new record or a change.</description>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CM status before update</description>
        <name>oldStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oldTextStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds one record of CampaignMember</description>
        <name>one_memberCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>passed from the Process Builder if the status has changed.</description>
        <name>statusHasChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>the status on text</description>
        <name>textStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds the contact record associated to the CM</description>
        <name>theParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
